.topNav {
    width: 100%;
    height: 91px;
    background-color: black;
    z-index: 3;
    display: flex;
}
  
.img__topNav {
  width: 178px;
  height: 61px;
  margin-left: 28px;
  margin-top: 18px;
}

.navigation {
  width: 100%;
  font-size: 24px;
}
  
.ul__topNav {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  margin-top: 0;
}
  
.li__topNav {
  color: white;
  list-style-type: none;
  cursor: pointer;
}

.accueil {
  text-decoration: none;
  color: white;
}
      

  @media screen and (max-width: 900px) {

    .topNav {
      height: 60px;
     }

     .img {
      width: 100px;
        margin: 0;
        margin-left: 5px;
     }

     .navigation {
      font-size: 12px;
     }

     .ul__topNav {
      padding: 0;
     }
    }